<h1>Add new employee</h1>
<%= form_tag :action => 'create' %>
<p><label for="code">code</label>:
  <%= text_field 'designation', 'code' %></p>
<p><label for="name">name</label>:
   <%= text_field 'designation', 'name' %></p>
<%= submit_tag "Create" %>
<%= form_tag %>
<li>
<b> <%= link_to 'back',:controller => 'User', :action => 'list' %></b>
</li>
<li>
<b> <%= link_to 'designation_list',:controller => 'Designation', :action => 'list' %></b>
</li>